.venv/
venv/
.paddleocr_env/
paddleocr_env/

*.pyc
__pycache__/

*.swp

.python-version

.vscode/

instance/

build/

dist/

.pytest_cache/
.coverage*
htmlcov/

*.egg-info/

.env

app.db

logs/*.log*
geckodriver.log

messages.pot

.ycm_extra_conf.py

.idea

Pipfile.lock

uploads/*
static/voice/
env/
app/ais/models/*
google-cloud-vision.json